.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  ion-item {
    margin-bottom: 16px;
  }
  
  ion-button {
    margin-top: 16px;
  }
  