.ultima-milla {
    background-color: darkcyan;
    padding: 10px;
    letter-spacing: 3px;
    color: aliceblue;
}
.Login{
    background-color: darkcyan;
    padding: 5px;
    letter-spacing: 3px;
    color: aliceblue;
}

// Estilos personalizados para el ion-alert
.alert-button-blue {
    --background: #87CEFA; /* Color azul claro */
    --color: white;
  }
  
  .alert-message {
    text-align: center;
    font-size: 16px;
  }
  
  .alert-header {
    text-align: center;
  }